In [157]:
"""
Finding the Future price on the given day t and t-1 
"""

import pandas as pd
df = pd.read_excel("find_futurePrice.xlsx")
df.head()

,FFU89 Comdty,Unnamed: 1,FFV89 Comdty,Unnamed: 3,FFX89 Comdty,Unnamed: 5,FFF90 Comdty,Unnamed: 7,FFG90 Comdty,Unnamed: 9,...,FFU16 Comdty,Unnamed: 449,FFV16 Comdty,Unnamed: 451,FFZ16 Comdty,Unnamed: 453,FFG17 Comdty,Unnamed: 455,FFH17 Comdty,Unnamed: 457
0,Date,PX_LAST,Date,PX_LAST,Date,PX_LAST,Date,PX_LAST,Date,PX_LAST,...,Date,PX_LAST,Date,PX_LAST,Date,PX_LAST,Date,PX_LAST,Date,PX_LAST
1,NaN,90.84,NaN,90.1,NaN,90.83,NaN,91.52,NaN,91.47,...,NaN,98.43,NaN,98.67,NaN,98.09,NaN,98.26,NaN,NaN
2,1989-01-04 00:00:00,90.64,1989-05-02 00:00:00,90.13,1989-06-01 00:00:00,90.8,1989-08-25 00:00:00,91.52,1989-09-11 00:00:00,91.55,...,2013-10-01 00:00:00,98.395,2013-11-01 00:00:00,98.56,2014-01-02 00:00:00,98.105,2014-03-03 00:00:00,98.295,NaN,NaN
3,1989-01-05 00:00:00,90.59,1989-05-03 00:00:00,90.18,1989-06-02 00:00:00,91.15,1989-08-28 00:00:00,91.5,1989-09-12 00:00:00,91.58,...,2013-10-02 00:00:00,98.46,2013-11-04 00:00:00,98.57,2014-01-03 00:00:00,98.09,2014-03-04 00:00:00,98.225,NaN,NaN
4,1989-01-06 00:00:00,90.55,1989-05-04 00:00:00,90.19,1989-06-05 00:00:00,91.13,1989-08-29 00:00:00,91.43,1989-09-13 00:00:00,91.6,...,2013-10-03 00:00:00,98.47,2013-11-05 00:00:00,98.57,2014-01-06 00:00:00,98.14,2014-03-05 00:00:00,98.21,NaN,NaN

In [187]:
import datetime
lst = [i.to_datetime().month+3 for i in date.ix[:,0]]
lst_year = [i.to_datetime().year for i in date.ix[:,0]]
ticker=[]
for i in xrange(len(lst)):
    if lst[i]==1:
        temp = "FFF"+str(lst_year[i])[2:]+" Comdty"
        ticker.append(temp)
    if lst[i]==2:
        temp = "FFG"+str(lst_year[i])[2:]+" Comdty"
        ticker.append(temp)
    if lst[i]==3:
        temp = "FFH"+str(lst_year[i])[2:]+" Comdty"
        ticker.append(temp)
    if lst[i]==4:
        temp = "FFJ"+str(lst_year[i])[2:]+" Comdty"
        ticker.append(temp)
    if lst[i]==5:
        temp = "FFK"+str(lst_year[i])[2:]+" Comdty"
        ticker.append(temp)
    if lst[i]==6:
        temp = "FFM"+str(lst_year[i])[2:]+" Comdty"
        ticker.append(temp)
    if lst[i]==7:
        temp = "FFN"+str(lst_year[i])[2:]+" Comdty"
        ticker.append(temp)
    if lst[i]==8:
        temp = "FFQ"+str(lst_year[i])[2:]+" Comdty"
        ticker.append(temp)
    if lst[i]==9:
        temp = "FFU"+str(lst_year[i])[2:]+" Comdty"
        ticker.append(temp)
    if lst[i]==10:
        temp = "FFV"+str(lst_year[i])[2:]+" Comdty"
        ticker.append(temp)
    if lst[i]==11:
        temp = "FFX"+str(lst_year[i])[2:]+" Comdty"
        ticker.append(temp)
    if lst[i]==12:
        temp = "FFZ"+str(lst_year[i])[2:]+" Comdty"
        ticker.append(temp)
    if lst[i]==13:
        temp = "FFF"+str(lst_year[i]+1)[2:]+" Comdty"
        ticker.append(temp)
    if lst[i]==14:
        temp = "FFG"+str(lst_year[i]+1)[2:]+" Comdty"
        ticker.append(temp)
    if lst[i]==15:
        temp = "FFH"+str(lst_year[i]+1)[2:]+" Comdty"
        ticker.append(temp)
import datetime
date = pd.read_excel("date.xlsx")
date["ticker"]=ticker
date.head()

        Date        ticker
0 1989-06-06  FFU89 Comdty
1 1989-07-07  FFV89 Comdty
2 1989-07-27  FFV89 Comdty
3 1989-08-22  FFX89 Comdty
4 1989-10-03  FFF90 Comdty

In [188]:
def get_price_idx(df,future_name):
    for col_idx in xrange(len(df.columns)):
        if df.columns[col_idx]==future_name:
            return col_idx+1
n = len(date)
count=0
for i in xrange(244):
    future_name = date.ix[i,1]
    price_idx = get_price_idx(df,future_name)
    for j in xrange(len(df.ix[:,future_name])):
        if date.ix[i,0]==df.ix[j,future_name]:
            count+=1
            print df.ix[j,price_idx],df.ix[j-1,price_idx],future_name,count
            break
print count

91.14 91.12 FFU89 Comdty 1
91.62 91.56 FFV89 Comdty 2
91.7 91.62 FFV89 Comdty 3
91.29 91.33 FFX89 Comdty 4
91.26 91.22 FFF90 Comdty 5
91.7 91.73 FFF90 Comdty 6
91.65 91.7 FFG90 Comdty 7
91.88 91.83 FFG90 Comdty 8
92.04 91.97 FFH90 Comdty 9
91.77 91.78 FFK90 Comdty 10
91.62 91.64 FFM90 Comdty 11
91.72 91.72 FFQ90 Comdty 12
91.95 91.95 FFV90 Comdty 13
92.08 92 FFV90 Comdty 14
92.1 92.14 FFX90 Comdty 15
92.31 92.28 FFF91 Comdty 16
92.31 92.29 FFF91 Comdty 17
92.53 92.52 FFG91 Comdty 18
92.87 92.7 FFH91 Comdty 19
93.07 92.93 FFH91 Comdty 20
93.37 93.28 FFJ91 Comdty 21
93.77 93.58 FFK91 Comdty 22
93.82 93.82 FFK91 Comdty 23
93.89 93.76 FFM91 Comdty 24
93.87 93.89 FFM91 Comdty 25
94.18 94.06 FFN91 Comdty 26
94.15 94.16 FFQ91 Comdty 27
93.94 93.92 FFV91 Comdty 28
94.43 94.32 FFX91 Comdty 29
94.63 94.61 FFX91 Comdty 30
94.6 94.52 FFZ91 Comdty 31
94.75 94.74 FFF92 Comdty 32
95.02 95.03 FFF92 Comdty 33
95.28 95.14 FFG92 Comdty 34
95.68 95.59 FFH92 Comdty 35
95.82 95.76 FFH92 Comdty 36
96.07 95.8 FFH92 Comdty 37
96.07 96.06 FFK92 Comdty 38
95.88 95.88 FFM92 Comdty 39
96.2 95.95 FFN92 Comdty 40
96.38 96.27 FFQ92 Comdty 41
96.64 96.33 FFV92 Comdty 42
96.87 96.83 FFX92 Comdty 43
96.96 96.75 FFZ92 Comdty 44
97.07 97.13 FFF93 Comdty 45
96.72 96.71 FFG93 Comdty 46
96.81 96.79 FFH93 Comdty 47
96.9 96.89 FFK93 Comdty 48
96.97 96.96 FFM93 Comdty 49
96.88 96.91 FFQ93 Comdty 50
96.83 96.84 FFV93 Comdty 51
96.88 96.9 FFX93 Comdty 52
96.84 96.83 FFZ93 Comdty 53
96.83 96.83 FFG94 Comdty 54
96.76 96.78 FFH94 Comdty 55
96.5 96.57 FFK94 Comdty 56
96.11 96.08 FFM94 Comdty 57
95.7 95.82 FFN94 Comdty 58
95.33 95.25 FFQ94 Comdty 59
94.96 94.95 FFV94 Comdty 60
95 95 FFX94 Comdty 61
94.6 94.6 FFZ94 Comdty 62
93.96 94.04 FFG95 Comdty 63
93.55 93.52 FFH95 Comdty 64
93.55 93.59 FFK95 Comdty 65
93.8 93.85 FFM95 Comdty 66
94.05 94.03 FFQ95 Comdty 67
94.57 94.45 FFV95 Comdty 68
94.35 94.36 FFX95 Comdty 69
94.34 94.35 FFZ95 Comdty 70
94.6 94.62 FFG96 Comdty 71
94.64 94.56 FFH96 Comdty 72
94.93 94.86 FFJ96 Comdty 73
94.77 94.76 FFM96 Comdty 74
94.66 94.68 FFQ96 Comdty 75
94.43 94.4 FFV96 Comdty 76
94.58 94.58 FFX96 Comdty 77
94.48 94.36 FFZ96 Comdty 78
94.66 94.67 FFG97 Comdty 79
94.61 94.62 FFH97 Comdty 80
94.59 94.59 FFK97 Comdty 81
94.36 94.4 FFM97 Comdty 82
94.31 94.24 FFQ97 Comdty 83
94.35 94.33 FFV97 Comdty 84
94.41 94.42 FFX97 Comdty 85
94.36 94.36 FFZ97 Comdty 86
94.39 94.4 FFG98 Comdty 87
94.37 94.37 FFH98 Comdty 88
94.59 94.59 FFK98 Comdty 89
94.44 94.43 FFM98 Comdty 90
94.44 94.42 FFQ98 Comdty 91
94.48 94.46 FFV98 Comdty 92
94.52 94.53 FFX98 Comdty 93
94.93 94.98 FFZ98 Comdty 94
95.12 95.2 FFF99 Comdty 95
95.39 95.34 FFG99 Comdty 96
95.32 95.33 FFH99 Comdty 97
95.25 95.26 FFK99 Comdty 98
95.2 95.19 FFM99 Comdty 99
95.07 95.11 FFQ99 Comdty 100
94.87 94.8 FFU99 Comdty 101
94.64 94.66 FFX99 Comdty 102
94.51 94.56 FFF00 Comdty 103
94.42 94.47 FFG00 Comdty 104
94.185 94.185 FFH00 Comdty 105
93.81 93.83 FFK00 Comdty 106
93.755 93.745 FFM00 Comdty 107
93.17 93.205 FFQ00 Comdty 108
93.285 93.265 FFU00 Comdty 109
93.43 93.43 FFX00 Comdty 110
93.515 93.535 FFF01 Comdty 111
93.575 93.575 FFG01 Comdty 112
93.9 93.91 FFH01 Comdty 113
94.57 94.355 FFJ01 Comdty 114
94.97 94.93 FFJ01 Comdty 115
95.535 95.47 FFM01 Comdty 116
95.905 95.59 FFN01 Comdty 117
96.205 96.095 FFQ01 Comdty 118
96.395 96.48 FFU01 Comdty 119
96.725 96.7 FFX01 Comdty 120
97.865 97.735 FFF02 Comdty 121
98.28 98.155 FFG02 Comdty 122
98.325 98.305 FFH02 Comdty 123
98.27 98.295 FFJ02 Comdty 124
98.04 98.01 FFM02 Comdty 125
98.16 98.13 FFQ02 Comdty 126
98.265 98.22 FFU02 Comdty 127
98.49 98.45 FFX02 Comdty 128
98.46 98.435 FFZ02 Comdty 129
98.785 98.69 FFG03 Comdty 130
98.77 98.77 FFH03 Comdty 131
98.82 98.835 FFJ03 Comdty 132
98.915 98.93 FFM03 Comdty 133
98.97 98.915 FFQ03 Comdty 134
99.07 99.18 FFU03 Comdty 135
99 99 FFX03 Comdty 136
99 99 FFZ03 Comdty 137
98.99 98.99 FFF04 Comdty 138
98.955 98.96 FFH04 Comdty 139
98.985 98.995 FFJ04 Comdty 140
98.99 98.99 FFM04 Comdty 141
98.725 98.73 FFQ04 Comdty 142
98.355 98.29 FFU04 Comdty 143
98.18 98.225 FFX04 Comdty 144
98.02 98.045 FFZ04 Comdty 145
97.585 97.59 FFG05 Comdty 146
97.435 97.435 FFH05 Comdty 147
97.025 97.03 FFK05 Comdty 148
96.92 96.93 FFM05 Comdty 149
96.61 96.625 FFQ05 Comdty 150
96.44 96.455 FFU05 Comdty 151
96.01 96.01 FFX05 Comdty 152
95.98 96.045 FFZ05 Comdty 153
95.545 95.55 FFG06 Comdty 154
95.49 95.49 FFH06 Comdty 155
95.3 95.3 FFJ06 Comdty 156
95.03 95.065 FFM06 Comdty 157
94.835 94.84 FFQ06 Comdty 158
94.565 94.52 FFU06 Comdty 159
94.665 94.635 FFX06 Comdty 160
94.735 94.735 FFZ06 Comdty 161
94.74 94.73 FFF07 Comdty 162
94.785 94.78 FFH07 Comdty 163
94.75 94.75 FFJ07 Comdty 164
94.785 94.775 FFM07 Comdty 165
94.78 94.785 FFQ07 Comdty 166
94.755 94.765 FFU07 Comdty 167
94.895 94.96 FFX07 Comdty 168
95.585 95.41 FFZ07 Comdty 169
95.605 95.66 FFF08 Comdty 170
96.085 96.085 FFH08 Comdty 171
97.29 96.85 FFJ08 Comdty 172
97.35 97.26 FFJ08 Comdty 173
98.25 98.445 FFM08 Comdty 174
98.055 97.99 FFN08 Comdty 175
97.84 97.815 FFU08 Comdty 176
97.865 97.84 FFX08 Comdty 177
98.19 98.29 FFZ08 Comdty 178
98.81 98.67 FFF09 Comdty 179
99.76 99.745 FFJ09 Comdty 180
99.76 99.74 FFM09 Comdty 181
99.79 99.785 FFN09 Comdty 182
99.74 99.74 FFU09 Comdty 183
99.78 99.77 FFX09 Comdty 184
99.82 99.81 FFZ09 Comdty 185
99.8 99.795 FFG10 Comdty 186
99.79 99.785 FFH10 Comdty 187
99.835 99.84 FFJ10 Comdty 188
99.78 99.78 FFM10 Comdty 189
99.76 99.75 FFN10 Comdty 190
99.78 99.77 FFU10 Comdty 191
99.83 99.83 FFX10 Comdty 192
99.815 99.815 FFZ10 Comdty 193
99.83 99.83 FFG11 Comdty 194
99.82 99.82 FFH11 Comdty 195
99.845 99.845 FFJ11 Comdty 196
99.86 99.86 FFM11 Comdty 197
99.86 99.86 FFN11 Comdty 198
99.86 99.86 FFU11 Comdty 199
99.91 99.91 FFX11 Comdty 200
99.92 99.935 FFZ11 Comdty 201
99.9 99.9 FFG12 Comdty 202
99.895 99.895 FFH12 Comdty 203
99.905 99.905 FFJ12 Comdty 204
99.86 99.865 FFM12 Comdty 205
99.855 99.86 FFN12 Comdty 206
99.825 99.835 FFU12 Comdty 207
99.865 99.87 FFX12 Comdty 208
99.88 99.88 FFZ12 Comdty 209
99.865 99.865 FFF13 Comdty 210
99.865 99.865 FFH13 Comdty 211
99.87 99.87 FFJ13 Comdty 212
99.86 99.865 FFM13 Comdty 213
99.875 99.875 FFQ13 Comdty 214
99.88 99.885 FFU13 Comdty 215
99.885 99.885 FFV13 Comdty 216
99.895 99.895 FFZ13 Comdty 217
99.91 99.91 FFF14 Comdty 218
99.9 99.905 FFH14 Comdty 219
99.91 99.91 FFJ14 Comdty 220
99.91 99.91 FFM14 Comdty 221
99.905 99.905 FFN14 Comdty 222
99.885 99.885 FFU14 Comdty 223
99.9 99.9 FFV14 Comdty 224
99.9 99.9 FFZ14 Comdty 225
99.905 99.915 FFF15 Comdty 226
99.865 99.875 FFH15 Comdty 227
99.865 99.865 FFJ15 Comdty 228
99.85 99.83 FFM15 Comdty 229
99.85 99.85 FFN15 Comdty 230
99.82 99.8 FFU15 Comdty 231
99.775 99.775 FFV15 Comdty 232
99.77 99.705 FFZ15 Comdty 233
99.755 99.79 FFF16 Comdty 234
99.59 99.61 FFH16 Comdty 235
99.575 99.57 FFJ16 Comdty 236
99.57 99.515 FFM16 Comdty 237
99.58 99.575 FFN16 Comdty 238
99.595 99.575 FFU16 Comdty 239
99.555 99.55 FFV16 Comdty 240
99.5 99.495 FFZ16 Comdty 241
99.415 99.415 FFG17 Comdty 242
242